.heroContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;
}

.heroBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: left;
  gap: 10px;

  border: 2px rgb(181, 59, 212) solid;
  border-radius: 5px;

  padding: 10px;
  width: 400px;
}

.heroBoxText p,
li {
  margin: 0;
  text-wrap: wrap;
  font-weight: bold;
  font-size: 20px;
}

.heroBoxText span {
  font-weight: normal;
  font-size: 16px;
}

.heroImg {
  width: 200px;
  height: 200px;
}

.heroImg img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.heroBoxDark {
  border: 2px red solid;
}
.heroBoxLight {
  border: 2px blue solid;
}
