.container {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;

  min-height: 100vh;
  z-index: 0;
}
