.container {
  margin: 0;
  padding: 10px 10px;
}

.container h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(12, 12, 12);
  margin: 0;
  padding: 0 10px 0 30px;
}

/* .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  padding: 0 20px 0 40px;
} */

.empty {
  /* min-width: 500px; */
}

.cartContentContainer {
  text-align: left;
  font-size: 20px;
}

.cartContentContainer .items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  /* flex-wrap: nowrap; */
  height: 20%;

  gap: 10px;

  text-align: left;
  font-size: 20px;

  border-bottom: 1px gray solid;
  padding: 5px 0;
}

.childActive {
  flex-basis: 60%;
}
.chilNotdActive {
  text-align: right;
  flex-basis: 15%;
  text-wrap: nowrap;
}

.totalPrice {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  text-align: right;
  gap: 10px;

  color: rgb(12, 12, 12);
  margin-top: 15px;

  flex-basis: 25%;
}

.totalPrice h3 {
  color: rgb(12, 12, 12);
  margin: 0;
}
