body {
  place-items: baseline;
  background-color: rgb(234, 234, 234);
}

:root p {
  text-align: left;
  margin: 2px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.box {
  border: 2px darkorange solid;
  border-radius: 10px;
  /* width: 300px; */
  padding: 10px;
}

.box span {
  font-weight: 600;
}

.box > img {
  border-radius: 10px;
}
