.my-btn-def {
  margin: 3px;
  background-color: rgba(207, 86, 34, 0.8);
  color: wheat;
  font-size: 22px;
  padding: 7px;
  margin: 0;
  outline: none;
  border: none;
}

.my-btn-def:hover {
  background-color: rgb(207, 86, 34);
}

.my-btn-def:focus {
  outline: none;
  box-shadow: none;
}
