.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}

.scrollContainer {
  height: 700px;
  overflow-y: auto;
  padding-right: 10px;
}

.btnBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
}
