.myCounterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 18px;
  width: 30px;
  border-radius: 10px;
  border: 1px rgb(166, 166, 166) solid;
}
